.control {
  padding: .5em;
  // border-radius: 8px;
  border: 1px solid transparent;
  // padding: 0.6em 1.2em;
  // font-size: 1em;
  // font-weight: 500;
  font-family: inherit;
  background-color: $color-black;
  cursor: pointer;
  transition: border-color 0.25s;
  // color: $prim-color;
  // filter: invert(0.17) sepia(1) saturate(20) hue-rotate(226.8deg) brightness(1.2);

  &:hover {
    border-color: $prim-color;
  }

  &:focus,
  &:focus-visible {
    outline: 1px auto -webkit-focus-ring-color;
  }

  #control-icon svg {
    fill: #ff0000;
  }

  .icon {
    // height: ;
    // padding: 1.5em;
    fill: #ff0000;
    will-change: filter;
    transition: filter 300ms;
    pointer-events: none;

    svg {
      fill: #ff0000;
    }
  }

  &:hover .icon {
    filter: drop-shadow(0 0 .5em #646cffaa);
  }
}