.home {
    border: none;
    display: flex; //change to flex
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: 300ms all;
    background-color: $dark-color;
    z-index: 10;
    gap: 5px;

    &--result-found {
        transform: translateY(-100%);
    }
}