.search {
  display: flex;
  justify-content: center;
  position: relative;
  height: 3em;
  margin-top: 5px;

  &::after {
    content: attr(data-error);
    display: block;
    position: absolute;
    top: 100%;
  }

  &__input {
    font-size: 18px;

    padding: .5em;
    border-radius: 0;
    width: 300px;

    border: 1px solid $prim-color;
  }
}