.icon {
  height: 100%;
  fill: currentColor;

  &--loading {
    @media (prefers-reduced-motion: no-preference) {
      & {
        animation: logo-spin infinite 20s linear;
      }
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}